body {
  background: #eee;
  font-family: sans-serif;
  box-sizing: border-box;
  padding: 20px 10px; 
}

/*
div.card {
  background: #eee;
  box-sizing: border-box;
  padding: 24px 10px; 
}
*/

.card {
  width: 600px;
  background: #fff;
  margin: 16px auto;
  font-size: 24px;
  padding: inherit;

}

.title {
  background: #e3f4ff;
  font-size: 24px;
  padding: inherit;
  
}

.content {
  background: #e3f4ff;
  font-size: 24px;
  padding: 30px 10px;
  margin: 16px auto;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: inherit;

}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  font-size: 24px;
  padding: 10px 40px;
  margin: 0 auto;
}